<section data-ng-controller="HomeController" data-ng-hide="authentication.user">
	<div class="jumbotron text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<img alt="fish" class="img-responsive img-center" src="modules/core/img/brand/place.gif"/>
				</div>
				<div class="col-md-7 text-left">
					<h1>Words</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla turpis turpis, faucibus a sem non, iaculis bibendum sem. Phasellus in vehicula urna. Sed nisl lectus, ullamcorper non lectus a, placerat pretium odio. Donec cursus ipsum et tempus ullamcorper.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<img alt="" class="img-responsive img-center" src="modules/core/img/brand/220x220.gif"/>
				<div class="padme text-justify">
					<h4>Nam ac tincidunt arcu. Etiam risus diam, hendrerit eget odio ut, varius mattis odio.</h4>
				</div>
			</div>

			<div class="col-md-4">
				<img alt="" class="img-responsive img-center" src="modules/core/img/brand/220x220.gif"/>
				<div class="padme text-justify">
					<h4>Nam ac tincidunt arcu. Etiam risus diam, hendrerit eget odio ut, varius mattis odio.</h4>
				</div>
			</div>

			<div class="col-md-4">
				<img alt="" class="img-responsive img-center" src="modules/core/img/brand/220x220.gif"/>
				<div class="padme text-justify">
					<h4>Nam ac tincidunt arcu. Etiam risus diam, hendrerit eget odio ut, varius mattis odio.</h4>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row text-center">
			<h2>Something major here</h2>
		</div>
	</div>

</section>

<section data-ng-controller="HomeController" data-ng-show="authentication.user">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Open-Source Full-Stack Solution For MEAN Applications
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Learn more</a>
			</p>
		</div>
	</div>

</section>