<section data-ng-controller="HomeController" data-ng-hide="authentication.user">
	<div class="jumbotron text-center" style="background:white">
		<div class="container marginbottom25">
			<div class="row">
				<div class="col-md-5">
					<img alt="fish" class="img-responsive img-center" src="modules/core/img/brand/kids.jpg"/>
				</div>
				<div class="col-md-7 text-left">
					<h1>Welcome to Florida Grades</h1>
					<p>Molding todays students into tomorrows leaders. The award winning online teacher, student, and parent resource for K-5</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<img alt="" class="img-responsive img-center" src="modules/core/img/brand/kids2.jpg"/>
				<div class="text01">
					<p>More hands on approach to your child's education. Voted the top web site for elementary schools for the 2nd year</p>
				</div>
			</div>

			<div class="col-md-4">
				<img alt="" class="img-responsive img-center" src="modules/core/img/brand/teacher.jpg"/>
				<div class="text01">
					<p>Number one resource used by over 200 Florida teachers.</p>
				</div>
			</div>

			<div class="col-md-4">
				<img alt="" class="img-responsive img-center" src="modules/core/img/brand/board.png"/>
				<div class="text01">
					<hp>Over a 97% satisfaction from Florida Parents since 2013.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<img alt="awards" class="img-responsive img-center" src="modules/core/img/brand/awards.png"/>
			</div>
		</div>
	</div>
			
	<div class="container">
		<div class="row">
			<p class="about"> "Our humble company began in the classroom and took off from there. That was two years ago and the success of this web application is more than we had hoped for. As students in elementary school the only way to track progress was through report cards every couple of months. Why not use technology to improve relaying information between teacher, student, and parents easy with the click of a button? This project has reached the lives of thousands of K-5 students in Florida and we hope will reach millions nationwide within the next five years."  -<strong> Kaitlyn Smith</strong> </p>
			<div class="col-md-6">
				<img float="left" alt="kk" class="img-responsive img-center" src="modules/core/img/brand/kk.png"/> 
			</div>

			<div class="col-md-6">
				<img float="left" alt="mel" class="img-responsive img-center" src="modules/core/img/brand/me.png"/> 
			</div>
			
		</div>
	</div>

	<footer>
		<div class="row text-center">
			<h5>Copyright 2015 &copy Florida Grades. All Rights Reserved </h5>
		</div>
	</footer>
</section>

<section data-ng-controller="HomeController" data-ng-show="authentication.user && authentication.user.utype == 'Teacher'">
	<div class="container margintop marginbottom25">
		<div class="row">
			<div class="col-md-2 noPadLeft borderit">
				<img class="img-center" src="modules/core/img/users/{{ authentication.user.uimage }}s.png"/>
				<br>
				<p>Welcome, <span data-ng-bind="authentication.user.displayName"></span></p>
				<p><strong>Student Access Code:</strong> <span data-ng-bind="authentication.user.accesscode"></span></p>
			</div>
			<div class="col-md-10 noPadRight">
				<div data-ng-controller="MessagesController" class="row borderit">
					<div class="row">
						<h3 class="margintop5">Recent Notifications</h3>
					</div>
					<div data-ng-init="find()" class="row">
						<div class="list-group margintop5">
							<a data-ng-repeat="message in messages | limitTo:3" data-ng-if="message.mcode == authentication.user.accesscode" data-ng-href="#!/messages/{{message._id}}" class="list-group-item">
								<div class="row">
									<div class="col-md-2 noPadLeft">
										<img class="img-center" src="modules/core/img/users/{{message.mimage}}s.png"/>
									</div>
									<div class="col-md-10 noPadRight">
										<small class="list-group-item-text">
	                                        Posted on
	                                        <span data-ng-bind="message.created | date:'medium'"></span>
	                                        by
	                                        <span data-ng-bind="message.user.displayName"></span>
                                    	</small>
                                    	<h4 class="list-group-item-heading" data-ng-bind="message.name" style="padding-top:10px"></h4>
										<p data-ng-bind="message.description"></p>
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="row margintop5 text-center">
						<a href="/#!/messages">view all messages</a>
					</div>
				</div>

				<div class="row margintop15">
					<div data-ng-controller="AssignmentsController" data-ng-init="find()" class="col-md-8 noPadLeft">
						<div class="row borderit">
							<div class="row">
								<h3 class="margintop5">Upcoming Assignments</h3>
							</div>

							<div class="list-group margintop5">
								<a data-ng-repeat="assignment in assignments | limitTo:5 | orderBy: 'due'" data-ng-if="assignment.acode == authentication.user.accesscode" data-ng-href="#!/assignments/{{assignment._id}}" class="list-group-item">
									<div class="row">
										<div class="col-md-3 noPadLeft">
											<p data-ng-bind="assignment.due | date:'mediumDate'" style="padding-top:10px"></p>
										</div>
										<div class="col-md-9 noPadRight">
											<h4 data-ng-bind="assignment.name"></h4>
										</div>
									</div>
								</a>
							</div>

							<div class="row margintop5 text-center">
								<a href="/#!/assignments">view all assignments</a>
							</div>
						</div>
					</div>

					<div data-ng-controller="TodosController" data-ng-init="find()" class="col-md-4 noPadRight">
						<div class="row borderit">
							<div class="row">
								<h3 class="margintop5">To Do</h3>
							</div>

							<div class="row">
								<div class="list-group margintop5">
									<div data-ng-repeat="todo in todos" data-ng-if="todo.user.displayName == authentication.user.displayName" class="list-group-item">
										<div class="row">
											<div class="col-md-10 noPadLeft">
												<p data-ng-bind="todo.dothis" style="padding-top:10px;"></p>
											</div>
											<div class="col-md-2 noPadRight">
												<span class="glyphicon glyphicon-remove" aria-hidden="true" style="cursor:pointer; padding-top:12px;" data-ng-click="deleteTodo(todo._id);"></span>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<form class="form-horizontal" data-ng-submit="create()" novalidate>
									<fieldset>
										<div class="form-group">
											<label class="control-label" for="dothis">What to do?</label>
											<div class="controls">
                                        		<input type="text" data-ng-model="dothis" id="dothis" class="form-control" placeholder="To Do">
                                    		</div>
										</div>

										<div class="form-group">
		                                    <input type="submit" class="btn btn-default">
		                                </div>
		                                <div data-ng-show="error" class="text-danger">
		                                    <strong data-ng-bind="error"></strong>
		                                </div>
									</fieldset>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section data-ng-controller="HomeController" data-ng-show="authentication.user && authentication.user.utype == 'Student'">
	<div class="container margintop marginbottom25">
		<div class="row">
			<div class="col-md-2 noPadLeft borderit">
				<img class="img-center" src="modules/core/img/users/{{ authentication.user.uimage }}s.png"/>
				<br>
				<p>Welcome, <span data-ng-bind="authentication.user.displayName"></span></p>
			</div>
			<div class="col-md-10 noPadRight">
				<div class="row">
					<div class="col-md-6">
						<div class="row borderit text-center">
							<img alt="" class="img-responsive img-center" src="modules/core/img/stud/calender.png"/>
							<br>
							<a href="/#!/planners">to planner</a>
						</div>
					</div>

					<div class="col-md-6">
						<div class="row borderit text-center">
							<img alt="" class="img-responsive img-center" src="modules/core/img/stud/assignment.png"/>
							<br>
							<a href="/#!/assignments">to assignments</a>
						</div>
					</div>
				</div>

				<div class="row margintop15">
					<div class="col-md-6">
						<div class="row borderit text-center">
							<img alt="" class="img-responsive img-center" src="modules/core/img/stud/message.png"/>
							<br>
							<a href="/#!/messages">to messages</a>
						</div>
					</div>

					<div class="col-md-6">
						<div class="row borderit text-center">
							<img alt="" class="img-responsive img-center" src="modules/core/img/stud/fish.png"/>
							<p style="padding-top:10px">Keep up the good work kids!</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>