<section data-ng-controller="HomeController" data-ng-hide="authentication.user">
	<div class="jumbotron text-center">
		<div class="container marginbottom25">
			<div class="row">
				<div class="col-md-5">
					<img alt="fish" class="img-responsive img-center" src="modules/core/img/brand/place.gif"/>
				</div>
				<div class="col-md-7 text-left">
					<h1>Words</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla turpis turpis, faucibus a sem non, iaculis bibendum sem. Phasellus in vehicula urna. Sed nisl lectus, ullamcorper non lectus a, placerat pretium odio. Donec cursus ipsum et tempus ullamcorper.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<img alt="" class="img-responsive img-center" src="modules/core/img/brand/220x220.gif"/>
				<div class="padme text-justify">
					<h4>Nam ac tincidunt arcu. Etiam risus diam, hendrerit eget odio ut, varius mattis odio.</h4>
				</div>
			</div>

			<div class="col-md-4">
				<img alt="" class="img-responsive img-center" src="modules/core/img/brand/220x220.gif"/>
				<div class="padme text-justify">
					<h4>Nam ac tincidunt arcu. Etiam risus diam, hendrerit eget odio ut, varius mattis odio.</h4>
				</div>
			</div>

			<div class="col-md-4">
				<img alt="" class="img-responsive img-center" src="modules/core/img/brand/220x220.gif"/>
				<div class="padme text-justify">
					<h4>Nam ac tincidunt arcu. Etiam risus diam, hendrerit eget odio ut, varius mattis odio.</h4>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row text-center">
			<h2>Something major here</h2>
		</div>
	</div>

</section>

<section data-ng-controller="HomeController" data-ng-show="authentication.user && authentication.user.utype == 'Teacher'">
	<div class="container margintop marginbottom25">
		<div class="row">
			<div class="col-md-2 noPadLeft borderit">
				<img class="img-center" src="modules/core/img/users/{{ authentication.user.uimage }}s.png"/>
				<br>
				<p>Welcome, <span data-ng-bind="authentication.user.displayName"></span></p>
			</div>
			<div class="col-md-10 noPadRight">
				<div data-ng-controller="MessagesController" class="row borderit">
					<div class="row">
						<h3 class="margintop5">Recent Notifications</h3>
					</div>
					<div data-ng-init="find()" class="row">
						<div class="list-group margintop5">
							<a data-ng-repeat="message in messages | limitTo:3" data-ng-href="#!/messages/{{message._id}}" class="list-group-item">
								<div class="row">
									<div class="col-md-2 noPadLeft">
										<img class="img-center" src="modules/core/img/users/100x100.gif"/>
									</div>
									<div class="col-md-10 noPadRight">
										<small class="list-group-item-text">
	                                        Posted on
	                                        <span data-ng-bind="message.created | date:'medium'"></span>
	                                        by
	                                        <span data-ng-bind="message.user.displayName"></span>
                                    	</small>
                                    	<h4 class="list-group-item-heading" data-ng-bind="message.name" style="padding-top:10px"></h4>
										<p data-ng-bind="message.description"></p>
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="row margintop5 text-center">
						<a href="/#!/messages">view all messages</a>
					</div>
				</div>

				<div data-ng-controller="AssignmentsController" data-ng-init="find()" class="row margintop15">
					<div class="col-md-8 noPadLeft">
						<div class="row borderit">
							<div class="row">
								<h3 class="margintop5">Upcoming Assignments</h3>
							</div>

							<div class="list-group margintop5">
								<a data-ng-repeat="assignment in assignments | limitTo:5 | orderBy: 'due'" data-ng-href="#!/assignments/{{assignment._id}}" class="list-group-item">
									<div class="row">
										<div class="col-md-3 noPadLeft">
											<p data-ng-bind="assignment.due | date:'mediumDate'" style="padding-top:10px"></p>
										</div>
										<div class="col-md-9 noPadRight">
											<h4 data-ng-bind="assignment.name"></h4>
										</div>
									</div>
								</a>
							</div>

							<div class="row margintop5 text-center">
								<a href="/#!/assignments">view all assignments</a>
							</div>
						</div>
					</div>
					<div class="col-md-4 noPadRight">
						<div class="row borderit">
							<div class="row">
								<h3 class="margintop5">To Do</h3>
								<input> <button>Add</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section data-ng-controller="HomeController" data-ng-show="authentication.user && authentication.user.utype == 'Student'">
	<div class="container margintop marginbottom25">
		<div class="row">
			<div class="col-md-2 noPadLeft borderit">
				<img class="img-center" src="modules/core/img/users/100x100.gif"/>
				<br>
				<p>Welcome, <span data-ng-bind="authentication.user.displayName"></span></p>
			</div>
			<div class="col-md-10 noPadRight">
				<div class="row">
					<div class="col-md-6">
						<div class="row borderit text-center">
							<img alt="" class="img-responsive img-center" src="modules/core/img/stud/300x300.gif"/>
							<br>
							<a href="/#!/planners">to planner</a>
						</div>
					</div>

					<div class="col-md-6">
						<div class="row borderit text-center">
							<img alt="" class="img-responsive img-center" src="modules/core/img/stud/300x300.gif"/>
							<br>
							<a href="/#!/assignments">to assignments</a>
						</div>
					</div>
				</div>

				<div class="row margintop15">
					<div class="col-md-6">
						<div class="row borderit text-center">
							<img alt="" class="img-responsive img-center" src="modules/core/img/stud/300x300.gif"/>
							<br>
							<a href="/#!/messages">to messages</a>
						</div>
					</div>

					<div class="col-md-6">
						<div class="row borderit text-center">
							<img alt="" class="img-responsive img-center" src="modules/core/img/stud/300x300.gif"/>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>