body {
	background: aliceblue;
}

.content {
	margin-top: 50px;
}
.jumbotron {
	margin-top: 30px;
}
.img-center {
	display: block;
	margin: auto;
}
.padme {
	padding: 20px 40px;
}
.padme2 {
	padding: 0 80px;
}
.text-justify {
	text-align: justify;
}
.row {
	margin-right: 0;
	margin-left: 0;
}
.rowpad {
	padding:0 15px;
}
.noPadLeft {
	padding-left: 0;
}
.noPadRight {
	padding-right: 0;
}
.marginit {
	margin-top: 15px;
}
.margintop {
	margin-top: 70px;
}
.margintop5 {
	margin-top: 5px;
}
.margintop15 {
	margin-top: 15px;
}

.borderit {
	position: relative;
	display: block;
	padding: 10px 15px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
}
.listgroup {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* NAV */
.navbg {
	background-color: #5D8DDE;
}
.navbar-nav > li > a {
	color: white;
	text-shadow: none;
}
.navbar-nav > li > a:hover {
	background: #476DAD;
}
.navbar-nav > li > .active > a,
.navbar-nav > .active > a:focus {
	background: #476DAD;
}
.navbar-toggle .icon-bar {
	color: white;
}
.navbar-header > a {
	color: white;
	text-shadow: none;
}
.navbar-brand {
	padding: 0;
}

/* BUTTONS */
.btn-primary {
	background-image: none;
	background-color: #5D8DDE;
	text-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #476DAD;
}
.btn-primary:focus {
	background-color: #476DAD;
}
.utypeit {
	font-weight: normal;
	font-size: 20px;
}

input[type="radio"]  {
	display: inline-block;
	width: 19px;
	height: 19px;
	margin: -5px 10px 0 0;
	vertical-align: middle;
	cursor: pointer;
}

/* FORMS */
.form-horizontal .form-group {
	margin-left: 0;
	margin-right: 0;
}

.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}