<section data-ng-controller="StudentsController" data-ng-init="findOne()">
    <div class="container">
        <div class="page-header">
            <h1>Edit Student</h1>
        </div>
        <div class="col-md-12 ">
            <form class="form-horizontal" data-ng-submit="update()" novalidate>
                <fieldset>
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10">
                            <div class="row">
                                <h2 class="rowpad">Student Info</h2>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="name">First Name</label>
                                        <div class="controls">
                                            <input type="text" data-ng-model="student.name" id="name" class="form-control" placeholder="First Name" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label" for="lname">Last Name</label>
                                        <div class="controls">
                                            <input type="text" data-ng-model="lname" id="lname" class="form-control" placeholder="Last Name" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="studID">Student ID Number</label>
                                        <div class="controls">
                                            <input type="text" data-ng-model="studID" id="studID" class="form-control" placeholder="ID Number" required>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="rowpad">
                                    <h2>Parent Info</h2>
                                    <p>Or person of best contact</p>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="pname">First Name</label>
                                        <div class="controls">
                                            <input type="text" data-ng-model="pname" id="pname" class="form-control" placeholder="First Name" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label" for="plname">Last Name</label>
                                        <div class="controls">
                                            <input type="text" data-ng-model="plname" id="plname" class="form-control" placeholder="Last Name" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="phoneNum">Phone Number</label>
                                        <div class="controls">
                                            <input type="text" data-ng-model="phoneNum" id="phoneNum" class="form-control" placeholder="Phone Number" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label" for="pemail">Email</label>
                                        <div class="controls">
                                            <input type="text" data-ng-model="pemail" id="pemail" class="form-control" placeholder="Email" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="row rowpad">
                                <div class="form-group">
                                    <input type="submit" class="btn btn-default">
                                </div>
                                <div data-ng-show="error" class="text-danger">
                                    <strong data-ng-bind="error"></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>