<section data-ng-controller="StudentsController" data-ng-init="findOne()">
	<div class="container borderit">
		<div class="page-header">
			<h1 data-ng-bind="student.name"></h1>
		</div>
		<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == student.user._id))">
			<a class="btn btn-primary" href="/#!/students/{{student._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i>
			</a>
			<a class="btn btn-primary" data-ng-click="remove();">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
		</div>
		<small>
			<em class="text-muted">
				Posted on
				<span data-ng-bind="student.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="student.user.displayName"></span>
			</em>
		</small>

		<div class="row">
			<h2>Student Info</h2>
			<div class="col-md-6 noPadLeft">
				<h4>First Name:</h4>
				<h4>Last Name:</h4>
				<h4>Student ID:</h4>
			</div>
			<div class="col-md-6 noPadRight">
				<h4>Username:</h4>
				<h4>Password:</h4>
			</div>
		</div>

		<div class="row">
			<h2>Parent Info</h2>
			<div class="col-md-6 noPadLeft">
				<h4>First Name:</h4>
				<h4>Last Name:</h4>
			</div>
			<div class="col-md-6 noPadRight">
				<h4>Phone Number:</h4>
				<h4>Email:</h4>
			</div>
		</div>
	</div>
</section>
