<section data-ng-controller="GradebooksController" data-ng-init="find()">
    <div class="container">
        <div class="page-header">
            <h1>Gradebook</h1>
        </div>

        <div class="row borderit">
            <div class="col-md-12 noPadLeft noPadRight">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Student</th>
                                <th>ID</th>
                                <th>each assignment</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Test</td>
                                <td>Test</td>
                                <td><input type="text" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- <div class="list-group">
            <a data-ng-repeat="gradebook in gradebooks" data-ng-href="#!/gradebooks/{{gradebook._id}}" class="list-group-item">
    			<small class="list-group-item-text">
    				Posted on
    				<span data-ng-bind="gradebook.created | date:'medium'"></span>
    				by
    				<span data-ng-bind="gradebook.user.displayName"></span>
    			</small>
    			<h4 class="list-group-item-heading" data-ng-bind="gradebook.name"></h4>
            </a>
        </div>
        <div class="alert alert-warning text-center" data-ng-hide="!gradebooks.$resolved || gradebooks.length">
        	No Gradebooks yet, why don't you <a href="/#!/gradebooks/create">create one</a>?
        </div> -->
    </div>
</section>