<section data-ng-controller="PlannersController">
    <div class="container">
        <div class="page-header">
            <h1>New Planner</h1>
        </div>
        <div class="row borderit marginbottom25">
            <form class="form-horizontal" data-ng-submit="create()" enctype="multipart/form-data" novalidate>
                <fieldset>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <h2 class="rowpad">Week</h2>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="name">Week Date</label>
                                        <div class="controls">
                                            <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Date" required>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="rowpad">
                                    <h2>Spelling Words</h2>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label" for="words">Spelling Words</label>
                                        <div class="controls">
                                            <input type="text" data-ng-model="words" id="words" class="form-control" placeholder="Spelling Words" required>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="rowpad">
                                    <h2>Weekly Message</h2>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label" for="weekmess">Weekly Message</label>
                                        <div class="controls">
                                            <textarea type="text" row="2" data-ng-model="weekmess" id="weekmess" class="form-control" placeholder="Weekly Message"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="rowpad">
                                    <h2>Tests and Projects</h2>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" for="tests">Test</label>
                                            <div class="controls">
                                                <input type="text" data-ng-model="tests" id="tests" class="form-control" placeholder="Test">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" for="projects">Project</label>
                                            <div class="controls">
                                                <input type="text" data-ng-model="projects" id="projects" class="form-control" placeholder="Project">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" for="testdes">Test Description</label>
                                            <div class="controls">
                                                <textarea type="text" rows="3" data-ng-model="testdes" id="testdes" class="form-control" placeholder="Test Description"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" for="projectdes">Project Description</label>
                                            <div class="controls">
                                                <textarea type="text" rows="3" data-ng-model="projectdes" id="projectdes" class="form-control" placeholder="Project Description"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-offset-6 col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" for="pfileup">Project Docs</label>
                                            <div class="controls">
                                                <input type="file" file-model="pfileup" id="pfileup" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="rowpad">
                                    <h3>Leave a day blank if there is no school</h3>
                                </div>
                            </div>

                            <div class="row">
                                <div class="rowpad">
                                    <h2>Monday</h2>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" for="mhwdue">Homework Due</label>
                                            <div class="controls">
                                                <input type="text" data-ng-model="mhwdue" id="mhwdue" class="form-control" placeholder="Homework" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" for="mhwassign">Homework Assign</label>
                                            <div class="controls">
                                                <input type="text" data-ng-model="mhwassign" id="mhwassign" class="form-control" placeholder="Homework" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" for="mact">Activities</label>
                                            <div class="controls">
                                                <textarea type="text" rows="3" data-ng-model="mact" id="mact" class="form-control" placeholder="Activities" required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" for="mmaterials">Materials to Bring</label>
                                            <div class="controls">
                                                <textarea type="text" rows="3" data-ng-model="mmaterials" id="mmaterials" class="form-control" placeholder="Materials" required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="rowpad">
                                    <h2>Tuesday</h2>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" for="thwdue">Homework Due</label>
                                            <div class="controls">
                                                <input type="text" data-ng-model="thwdue" id="thwdue" class="form-control" placeholder="Homework" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" for="thwassign">Homework Assign</label>
                                            <div class="controls">
                                                <input type="text" data-ng-model="thwassign" id="thwassign" class="form-control" placeholder="Homework" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" for="tact">Activities</label>
                                            <div class="controls">
                                                <textarea type="text" rows="3" data-ng-model="tact" id="tact" class="form-control" placeholder="Activities" required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" for="tmaterials">Materials to Bring</label>
                                            <div class="controls">
                                                <textarea type="text" rows="3" data-ng-model="tmaterials" id="tmaterials" class="form-control" placeholder="Materials" required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="rowpad">
                                    <h2>Wednesday</h2>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" for="whwdue">Homework Due</label>
                                            <div class="controls">
                                                <input type="text" data-ng-model="whwdue" id="whwdue" class="form-control" placeholder="Homework" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" for="whwassign">Homework Assign</label>
                                            <div class="controls">
                                                <input type="text" data-ng-model="whwassign" id="whwassign" class="form-control" placeholder="Homework" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" for="wact">Activities</label>
                                            <div class="controls">
                                                <textarea type="text" rows="3" data-ng-model="wact" id="wact" class="form-control" placeholder="Activities" required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" for="wmaterials">Materials to Bring</label>
                                            <div class="controls">
                                                <textarea type="text" rows="3" data-ng-model="wmaterials" id="wmaterials" class="form-control" placeholder="Materials" required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="rowpad">
                                    <h2>Thursday</h2>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" for="thhwdue">Homework Due</label>
                                            <div class="controls">
                                                <input type="text" data-ng-model="thhwdue" id="thhwdue" class="form-control" placeholder="Homework" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" for="thhwassign">Homework Assign</label>
                                            <div class="controls">
                                                <input type="text" data-ng-model="thhwassign" id="thhwassign" class="form-control" placeholder="Homework" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" for="thact">Activities</label>
                                            <div class="controls">
                                                <textarea type="text" rows="3" data-ng-model="thact" id="thact" class="form-control" placeholder="Activities" required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" for="thmaterials">Materials to Bring</label>
                                            <div class="controls">
                                                <textarea type="text" rows="3" data-ng-model="thmaterials" id="thmaterials" class="form-control" placeholder="Materials" required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="rowpad">
                                    <h2>Friday</h2>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" for="fhwdue">Homework Due</label>
                                            <div class="controls">
                                                <input type="text" data-ng-model="fhwdue" id="fhwdue" class="form-control" placeholder="Homework" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" for="fhwassign">Homework Assign</label>
                                            <div class="controls">
                                                <input type="text" data-ng-model="fhwassign" id="fhwassign" class="form-control" placeholder="Homework" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" for="fact">Activities</label>
                                            <div class="controls">
                                                <textarea type="text" rows="3" data-ng-model="fact" id="fact" class="form-control" placeholder="Activities" required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" for="fmaterials">Materials to Bring</label>
                                            <div class="controls">
                                                <textarea type="text" rows="3" data-ng-model="fmaterials" id="fmaterials" class="form-control" placeholder="Materials" required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        
                            <div class="row rowpad">
                                <div class="form-group">
                                    <input type="submit" class="btn btn-default">
                                </div>
                                <div data-ng-show="error" class="text-danger">
                                    <strong data-ng-bind="error"></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>