<section data-ng-controller="MessagesController" data-ng-init="findOne()">
	<div class="container marginbottom25">
		<div class="page-header">
			<h1 data-ng-bind="message.name"></h1>
		</div>
		<div class="row borderit">
			<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == message.user._id))">
				<a class="btn btn-primary" href="/#!/messages/{{message._id}}/edit">
					<i class="glyphicon glyphicon-edit"></i>
				</a>
				<a class="btn btn-primary" data-ng-click="remove();">
					<i class="glyphicon glyphicon-trash"></i>
				</a>
			</div>
			<small>
				<em class="text-muted">
					Posted on
					<span data-ng-bind="message.created | date:'mediumDate'"></span>
					by
					<span data-ng-bind="message.user.displayName"></span>
				</em>
			</small>
			<div class="row margintop15">
				<p data-ng-bind="message.description"></p>
			</div>
		</div>

		<div data-ng-controller="CommentsController">
			<div class="row borderit margintop15">
				<div class="row">
					<h4>Make a Comment</h4>
				</div>
				<div class="row">
					<form data-ng-submit="create()">
						<fieldset>
	                    	<div class="row">
		                        <div class="form-group col-md-8 noPadLeft">
		                            <label class="control-label" for="thecomment">Comment</label>
		                            <div class="controls">
		                                <textarea type="text" rows="3" data-ng-model="thecomment" id="thecomment" class="form-control" placeholder="Comment" required></textarea>
		                            </div>
		                        </div>
	                    	</div>

	                    	<div class="form-group">
	                            <input type="submit" class="btn btn-default">
	                        </div>
	                        <div data-ng-show="error" class="text-danger">
	                            <strong data-ng-bind="error"></strong>
	                        </div>
						</fieldset>
					</form>
				</div>
			</div>

			<div data-ng-init="find()" class="row borderit margintop15">
				<div class="row">
					<h4>Comments</h4>
				</div>
				<div class="row">
					<div class="list-group">
						<div data-ng-repeat="comment in comments" data-ng-if="comment.mparent == message._id" class="list-group-item">
							<div class="row">
								<div class="row">
									<small class="list-group-item-text">
	                                    Posted on
	                                    <span data-ng-bind="comment.created | date:'medium'"></span>
	                                    by
	                                    <span data-ng-bind="comment.user.displayName"></span>
	                                </small>
								</div>
								<div class="row margintop5">
									<div class="col-md-1 noPadLeft">
										<img class="img-center" src="modules/core/img/users/100x100.gif"/>
									</div>
									<div class="col-md-10 noPadRight" style="margin-left:15px">
										<p data-ng-bind="comment.thecomment"></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
